@use "variable" as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: $bgColor;
    color: $dark;
}

h1 {
    font-size: 5rem;
    line-height: 1;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
    font-weight: $medium;

}

img {
    max-width: 100%;
    max-height: 100%;
}

header {
    width: 90%;
    margin: auto;
    box-shadow: $boxShadow1;
}

nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
    font-weight: $bold;
    color: $dark;

    &:hover {
        background: $gradient;
        color: $white;
        padding: .5rem;
        border-radius: 5px;
    }
}

.join {
    width: max-content;
    font-size: 1.4rem;
    font-weight: bold;
    padding-block: 1rem;
    padding-inline: 2rem;
    background: $gradient;
    color: $white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 500ms;

    &:hover {
        background: $blue;
    }
}

.home {
    max-width: 90%;
    margin: auto;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .home__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
        flex: 1;
    
        > p {
            font-size: 2rem;
            opacity: 90%;
        }
        
        > .join {
            margin-top: 2.5rem;
        }
    }

    .home__img {
        flex: 1;
        max-height: 90vh;
    } 
}

.courses {
    width: 90%;
    margin: auto;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding-bottom: 3rem;
    margin-top: 5rem;

    > .courses__card {
        width: 24rem;
        height: 24rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        padding: 2rem;
        border-radius: 10px;
        background: $white;
        box-shadow: $boxShadow1;
        position: relative;
        margin-bottom: 1.5rem;

        .symbol {
            position: absolute;
            width: 6rem;
            height: 6rem;
            top: -5%;
            border-radius: 10px;
            background: $blue;
        }

        h3 {
            margin-top: 3rem;
        }

        p {
            font-size: 1.4rem;
            opacity: 90%;
        }
    }

    .card1 {
        background: $blue;
        color: $white;
        justify-content: center; 
    }
}

footer {
    max-width: 90%;
    margin: auto;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: $boxShadow2;
}

//media query large screen
@media (min-width: 1200px) {

    .home {
        min-height: 60vh;
    }

    .courses {
        min-height: 40vh;
    }
}

//media query dekstop
@media (max-width: 1200px) {

    .home {
        min-height: 50vh;
    }

    .courses {
        min-height: 40vh;
        margin-top: 3rem;

        .courses__card {
            margin-bottom: 2rem;
        }
    }
}

//media query small screen
@media (max-width: 1024px) {

    .home {
        .home__content {
            margin-block: 5vh;
        }
    }
}

//media query tablet
@media (max-width: 768px) {

    nav, footer {
        height: 7vh;
    }
    
    .courses {
        .courses__card {
            width: 21rem;
            height: 23rem;
        }
    }
}

//media query phone
@media (max-width: 500px) {
    html {
        font-size: 47%;
    }

    .home {
        .home__img {
            height: 40vh;
        }
    }
}